asgiref==3.2.7
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Django==3.0.4
django-filter==2.2.0
djangorestframework==3.11.0
idna==2.9
importlib-metadata==1.6.0
Markdown==3.2.2
Pillow==7.1.2
python-http-client==3.2.7
pytz==2019.3
requests==2.23.0
sendgrid==6.2.1
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
zipp==3.1.0
