{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>

<img class="img-fluid mx-auto d-block" src="{% static 'a_logo.png' %}" alt="" style="width: 80px; height: 80px;">
<div class="text-center">
<form class="form-signin" method="post">
{% csrf_token %}
<h1 class="h3 mb-3 font-weight-normal">Register an Account</h1>

<label for="inputEmail" class="sr-only">Email address</label>
<input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

<label for="inputUsername" class="sr-only">Username</label>
<input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required>


<label for="inputPassword1" class="sr-only">Password</label>
<input name="password1" type="password" id="inputPassword1" class="form-control" placeholder="Password" required>
<label for="inputPassword2" class="sr-only">Confirm Password</label>
<input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>



{% for field in registration_form %}
    <p>
        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
    </p>
{% endfor %}


{% if registration_form.non_field_errors %}
<div style="color: red;">
    <p>{{registration_form.non_field_errors}}</p>
</div>
{% endif %}

<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
</div>

{% endblock content %}